{
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": 1,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "curly": 2,
    "eqeqeq": [2, "smart"]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  }
}
